<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template_head::head('MyPetStore comfirm')">

</head>
<body>
<header th:replace="common/template_menu::header">

</header>

<div id="Content">

    <h2>My Orders</h2>

    <table>
        <tr>
            <th>LogId</th>
            <th>UseName</th>
            <th>Date</th>
            <th>UserAction</th>
        </tr>


            <tr th:each="log:  ${logList} ">
                <td th:text="${log.logId}" ></td>
                <td th:text="${log.userId}" ></td>
                <td th:text=" ${log.logTime}" ></td>
                <td th:text="${log.userAction}" ></td>
            </tr>

    </table>


    <footer th:replace="common/template_menu::footer">

    </footer>
</body>
</html>